*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
/.cache/
/.pytest_cache/
.coverage
coverage.xml
*,cover

# Files generated during tests
/tests/app-props.yml
/tests/app.properties
/tests/app2.properties
